:root {
    --main-white: #fff;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --primary-brand-color: #4d5ae5;
    --pressed-state-color: #404bbf;
    --accent-color: #2e2f42;
    --accent-font: 'Raleway', sans-serif;
    --DAIRY: #FCFCFC;
  
  }